

@{
    ViewBag.Title = "HomePage";
}

<section id="main-content">
    <section id="wrapper">
        <div class="first-content">
            <div class="block-left">

                <h5>Medicus</h5>
                <p>
                    Medicus is a management system website which will help people to find
                    medicine conveniently and helps the pharmacy stores  manage their
                    store properly.
                </p>

            </div>
            <div class="block-image"></div>
        </div>
        <hr/>
        <div class="mid-content">
            <h6>Services</h6>
            <div class="mid-bar">
                <div class="mini-wrapper">
                    <h2>Customer buying</h2>
                    <p>
                        Customer can locate nearby pharmacy
                        and order medicine from there
                    </p>
                </div>
                <div class="mini-wrapper">
                    <h2>Transition manage</h2>
                    <p>
                        Pharmacy can easily handle all the transition properly
                    </p>
                </div>
                <div class="mini-wrapper">
                    <h2>Sales management</h2>
                    <p>
                        Sales and purchase can handle eaisly
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <section class="bg-light" id="team">
            <div class="content-panel">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h6>Our Team</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="~/Content/img6.jpg" width="225" height="225">
                            <h4>Afrina Zahan Mithila</h4>
                            <p class="text-muted">Aust CSE 35<sup>th</sup> Batch</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="~/Content/img4.jpg" width="225" height="225" alt="">
                            <h4>Rasheeq Zaman</h4>
                            <p class="text-muted">Aust CSE 35<sup>th</sup> Batch</p>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="~/Content/img5.jpg" width="225" height="225" alt="">
                            <h4>Nahid Pranto</h4>
                            <p class="text-muted">Aust CSE 35<sup>th</sup> Batch</p>

                        </div>
                    </div>
                </div>

            </div>
        </section>

    </section>
</section>




