
@{
    ViewBag.Title = "DashBoard";
}

<h2>@ViewBag.Title</h2>
<section id="main-section">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="box1">
                    <i class="fa fa-male fa-4x"></i>
                    <h3>133</h3>
                    <p> Today's total customer is 133</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box1">
                    <i class="fa fa-medkit custom fa-4x"></i>
                    <h3>200</h3>
                    <p> Total medicine on stock is 200</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="box1">
                    <i class="fa fa-money fa-4x"></i>
                    <h3>13333</h3>
                    <p> Today's total sale is 13333tk</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box1">
                    <i class="fa fa-money fa-4x"></i>
                    <h3>13333</h3>
                    <p> Today's total purchase is 13333tk</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box1">
                    <i class="fa fa-truck fa-4x"></i>
                    <h3>2</h3>
                    <p> Order's pending to delivar are 2</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="box1">
                    <div class="panel-body text-center">
                        <canvas id="bar" height="300" width="400"></canvas>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="box1">

                    <h1>Today's Report</h1>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Total Activity</th>
                                <th>Taka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Income</td>
                                <td>5000</td>
                            </tr>
                            <tr>
                                <td>Total Purchase</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>3000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</section>

