
@{
    ViewBag.Title = "Sales Report";
}

<h2>@ViewBag.Title</h2>


    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Sales Report</h3>
        <div class="upper-table">
            <div class="row">
                <label class="col-sm-2">Start date</label>
                <div class="col-sm-4"><input type="search" /></div>
                <label class="col-sm-2">End date</label>
                <div class="col-sm-4">
                    <input type="search" />

                </div>
                <button type="submit" class="btn btn-round">Search</button>

            </div>
        </div>
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-striped table-hover">
                    <h4><i class="fa fa-angle-right"></i> Medicine List</h4>
                    <thead>
                        <tr>
                            <th><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sales date</th>
                            <th><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Invoice Name</th>
                            <th><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Customer Name</th>
                            <th><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Total Amount</th>



                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>1</td>
                            <td>Suppodil</td>
                            <td>Sup_120</td>
                            <td>Renita</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Total Sales</td>
                            <td></td>

                    </tbody>
                </table>
            </div>
        </div>
    </section>



