
@{
    ViewBag.Title = "AddMedicine";
}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="content-panel">
                <h3><i class="fa fa-angle-right"></i> Add Supplier</h3>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2">Supplier Name</label>
                        <div class="col-sm-4"><input type="text" class="form-control form-round"></div>
                        <label class="col-sm-2">Address</label>
                        <div class="col-sm-4"><input type="text" class="form-control form-round"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="inputPassword1">Email</label>
                        <div class="col-sm-4"><input type="text" class="form-control form-round"></div>
                    </div>
                   
                    <hr>
                    <div class="form-group">
                        <button type="button" class="btn btn-round btn-theme btn-primary">Save</button>
                        <button type="button" class="btn btn-round btn-theme btn-success">Save And Add Another</button>
                    </div>

                </form>
            </div>
        </div>



    </section>
</section>

