
@{
    ViewBag.Title = "CustomerDash";
}
<section id="main-content">
    
    <section class="wrapper">
        <div>
            
            <div class="big-image" ><img src="~/Content/Vitamins.jpg" /></div>
            <div class="left-text">40% Discount</div>
        </div>
        <div class="under-image">
            <div class="under-image-inline">35% discount on Napa</div>
            <div class="under-image-inline">8% discount for Regular Customer</div>
            <div class="under-image-inline"> 2% discount for New Register Customer</div>
        </div>
        <div class="ptag">
            <p>Something will add in here</p>
        </div>
        <div>
            <div class="big-image"><img src="~/Content/immunity-boosters1.jpg" /></div>
            <div class="left-text">40% Discount</div>
        </div>
        <div class="under-image">
            <div class="under-image-inline">35% discount on Napa </div>
            <div class="under-image-inline">8% discount for Regular Customer</div>
            <div class="under-image-inline">2% discount for New Register Customer</div>
        </div>
        
        <div class="wrap-map">
            <h3><i class="fa fa-search"></i>Search Pharmacy</h3>
            <div id="map" style="width:80%;height:80%"></div>
        </div>
        <script>
       function myMap() {
       var mapOptions = {
        center: new google.maps.LatLng(51.5, -0.12),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.HYBRID
    }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcl-HEEZB3QKrsdBQJ1RHe64a74SSQfkk&callback=myMap"></script>
      
    </section>
</section>

