
@{
    ViewBag.Title = "CustomerDash";
}
<section id="main-content">
    
    <section class="wrapper">
        <div>
            
            <div class="big-image" ><img src="~/Content/Vitamins.jpg" /></div>
            <div class="left-text">40% Discount</div>
        </div>
        <div class="under-image">
            <div class="under-image-inline">20 vogichuggi</div>
            <div class="under-image-inline"> 30 vouguchugu</div>
            <div class="under-image-inline"> 40 asdaqqff</div>
        </div>
        <div class="ptag">
            <p>Something text will be added here</p>
        </div>
        <div>
            <div class="big-image"><img src="~/Content/immunity-boosters1.jpg" /></div>
            <div class="left-text">40% Discount</div>
        </div>
        <div class="under-image">
            <div class="under-image-inline">20 vogichuggi</div>
            <div class="under-image-inline"> 30 vouguchugu</div>
            <div class="under-image-inline"> 40 asdaqqff</div>
        </div>

    </section>
</section>

