

@{
    ViewBag.Title = "HomePage";
}

<section id="main-content">
    <section id="wrapper">
        <div class="first-content">
            <div class="block-left">

                <h5>Medicus</h5>
                <p>
                    Lorem ipsum dolor sit amet, c
                    onsectetur adipisicing elit.Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
                </div>
                <div class="block-image"></div>
         </div>
        <div class="mid-content">
                   Services
            <div class="mid-bar">
            <div class="mini-wrapper"></div>
            <div class="mini-wrapper"></div>
            <div class="mini-wrapper"></div>
            </div>
        </div>
        <section class="bg-light" id="team">
            <div class="content-panel">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="~/Content/img6.jpg" width="225" height="225">
                            <h4>Afrina Zahan Mithila</h4>
                            <p class="text-muted">Aust CSE 35<sup>th</sup> Batch</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="~/Content/img4.jpg"  width="225" height="225" alt="">
                            <h4>Rasheeq Zaman</h4>
                            <p class="text-muted">Aust CSE 35<sup>th</sup> Batch</p>
                           
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="~/Content/img5.jpg" width="225" height="225" alt="">
                            <h4>Nahid Pranto</h4>
                            <p class="text-muted">Aust CSE 35<sup>th</sup> Batch</p>
                            
                        </div>
                    </div>
                </div>
               
            </div>
        </section>

    </section>
</section>




